.git
.gitignore
.dart_tool/
.idea/
.vscode/
build/
android/
ios/
linux/
macos/
windows/
test/
doc/
.metadata
.flutter-plugins
.flutter-plugins-dependencies
.packages
Dockerfile
google-services.json
firebase_options.dart
lib/main_dev.dart
lib/main_stg.dart
coverage/
*.iml
*.log
